[submodule "catkin_ws/src/utilities/ros_ign"]
	path = catkin_ws/src/utilities/ros_ign
	url = https://github.com/osrf/ros_ign.git
	branch = noetic
[submodule "catkin_ws/src/utilities/kindr"]
	path = catkin_ws/src/utilities/kindr
	url = git@github.com:anybotics/kindr.git
[submodule "catkin_ws/src/utilities/ros-keyboard"]
	path = catkin_ws/src/utilities/ros-keyboard
	url = git@github.com:lrse/ros-keyboard.git
[submodule "catkin_ws/src/utilities/joystick_drivers"]
	path = catkin_ws/src/utilities/joystick_drivers
	url = git@github.com:ros-drivers/joystick_drivers.git
[submodule "catkin_ws/src/utilities/Serial_CAN_Arduino"]
	path = catkin_ws/src/utilities/Serial_CAN_Arduino
	url = https://github.com/Longan-Labs/Serial_CAN_Arduino.git
[submodule "Arduino/USB-Serial-Print-Speed-Test"]
	path = Arduino/USB-Serial-Print-Speed-Test
	url = git@github.com:PaulStoffregen/USB-Serial-Print-Speed-Test.git
