<?xml version="1.0"?>
<model>
    <name>pendulum</name>
    <version>1.0</version>
    <sdf version='1.7'>model.sdf</sdf>

    <author>
        <name>Adrian Ghansah</name>
        <email>adrianghnsh@gmail.com</email>
    </author>

    <description>
        SDF model of a pendulum.
    </description>
</model>
