<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find single_leg_gazebo)/config/single_leg_floating_base_control.yaml" command="load"/>

  <!-- Set description param -->
  <param name="single_leg_description" textfile="$(find single_leg_description)/model.sdf"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true"/>
    <arg name="paused" value="true"/>
    <arg name="world_name" value="$(find single_leg_gazebo)/worlds/single_leg.world"/>
    <!-- more default parameters can be changed here -->
  </include>


</launch>